/*
 * Copyright (c) 2019, Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

#include "../nrf52-bindings.h"

&arduino_spi { /* MOSI on D11 / P0.23 */
	compatible = "nordic,nrf-spim";
	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		label = "WS2812";

		/* SPI */
		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <SPI_FREQ>;

		/* WS2812 */
		chain-length = <16>; /* arbitrary; change at will */
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		spi-one-frame = <ONE_FRAME>;
		spi-zero-frame = <ZERO_FRAME>;
	};
};

/ {
	aliases {
		led-strip = &led_strip;
		brightness-incr = &btn_brightness_incr;
		brightness-decr = &btn_brightness_decr;
	};
	
	// button
	gpio_keys {
	        compatible = "gpio-keys";
	        btn_brightness_incr: button_0 {
                        gpios = <&gpio0 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; // P0.13
                        label = "Brightness increase";
                        zephyr,code = <INPUT_KEY_0>; // preserved for further interface app control
                };
                
                btn_brightness_decr: button_1 {
			gpios = <&gpio0 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; // P0.14
			label = "Brightness decrease";
			zephyr,code = <INPUT_KEY_1>; 
		};
                 
	};
	
	// led_strip_gpio
	zephyr,user {
                signal-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>; // P0.11: sensor SW1801P
                
        };
};
